body {
  background: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

.title {
  text-align: center;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  /*optional background or border*/
  margin-top: 2%;
  width: 600px;
  height: 430px;
  background: none;
}

.glass-bottom {
  position: absolute;
  top: 94.5%;
  left: 32%;
  width: 36%;
  height: 2%;
  background: grey;
  border-radius: 5%;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 11% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 11% 100%);
}

.glass-middle-1 {
  position: absolute;
  top: 84%;
  left: 32%;
  width: 35%;
  height: 10%;
  background: rgba(253, 253, 253, 0.2);
  border-left: solid 3px rgba(198, 197, 201, 0.5);
  border-right: solid 3px rgba(198, 197, 201, 0.5);
  border-bottom: solid 3px rgba(198, 197, 201, 0.5);
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.glass-middle-2 {
  position: absolute;
  top: 75%;
  left: 34%;
  width: 32%;
  height: 10%;
  background: rgba(253, 253, 253, 0.2);
  border-left: solid 3px rgba(198, 197, 201, 0.5);
  border-right: solid 3px rgba(198, 197, 201, 0.5);
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.glass-middle-3 {
  position: absolute;
  top: 66%;
  left: 34%;
  width: 32%;
  height: 10%;
  background: rgba(253, 253, 253, 0.2);
  border-left: solid 3px rgba(198, 197, 201, 0.5);
  border-right: solid 3px rgba(198, 197, 201, 0.5);
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.glass-middle-4 {
  position: absolute;
  top: 56%;
  left: 39%;
  width: 22%;
  height: 10%;
  background: rgba(253, 253, 253, 0.2);
  border-left: solid 3px rgba(198, 197, 201, 0.5);
  border-right: solid 3px rgba(198, 197, 201, 0.5);
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.glass-top {
  position: absolute;
  top: 10%;
  left: 29%;
  width: 42%;
  height: 46%;
  background: rgba(253, 253, 253, 0.2);
  border-left: solid 3px rgba(198, 197, 201, 0.5);
  border-right: solid 3px rgba(198, 197, 201, 0.5);
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

.glass-middle-beer {
  position: absolute;
  top: 0%;
  left: 2%;
  width: 96%;
  height: 98%;
  background: linear-gradient(to top, #dea91a 0%, #e2a00e 100%);
  border-left: solid 3px linear-gradient(to top, #dea91a 0%, #e2a00e 100%);
  border-right: solid 3px linear-gradient(to top, #dea91a 0%, #e2a00e 100%);
  border-bottom: solid 3px linear-gradient(to top, #dea91a 0%, #e2a00e 100%);
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  z-index: -1;
}

.glass-top-beer {
  position: absolute;
  top: 0%;
  left: 2%;
  width: 96%;
  height: 98%;
  background: linear-gradient(to top, #e18c0b 0%, #de6a07 100%);
  border-left: solid 3px linear-gradient(to top, #dea91a 0%, #e2a00e 100%);
  border-right: solid 3px linear-gradient(to top, #dea91a 0%, #e2a00e 100%);
  border-bottom: solid 3px linear-gradient(to top, #dea91a 0%, #e2a00e 100%);
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}

.bubbles {
  position: absolute;
  top: 0%;
  left: 2%;
  width: 96%;
  height: 22%;
  background: linear-gradient(to left, #d3cbba 0%, #b2aa95 100%);
  border-left: solid 3px linear-gradient(to top, #dea91a 0%, #e2a00e 100%);
  border-right: solid 3px linear-gradient(to top, #dea91a 0%, #e2a00e 100%);
  border-bottom: solid 3px linear-gradient(to top, #dea91a 0%, #e2a00e 100%);
  z-index: -1;
}

.glass-over-the-top {
  position: absolute;
  top: 0%;
  left: 29%;
  width: 42%;
  height: 10%;
  background: rgba(253, 253, 253, 0.2);
  border-left: solid 3px rgba(198, 197, 201, 0.5);
  border-right: solid 3px rgba(198, 197, 201, 0.5);
}

.glass-middle-shadow {
  position: absolute;
  top: 0%;
  left: 9%;
  width: 4%;
  height: 100%;
  background: rgba(198, 197, 201, 0.5);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.glass-top-shadow {
  position: absolute;
  top: 0%;
  left: 9%;
  width: 4%;
  height: 90%;
  background: rgba(198, 197, 201, 0.5);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.glass-over-the-top-shadow {
  position: absolute;
  top: 0%;
  left: 9%;
  width: 4%;
  height: 100%;
  background: rgba(198, 197, 201, 0.5);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}